@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local("Rubik Light"), url("../public/fonts/Rubik/static/Rubik-Light.woff2") format("woff2"),
    url("../public/fonts/Rubik/static/Rubik-Light.woff") format("woff");
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Rubik Regular"), local("Rubik-Regular"),
    url("../public/fonts/Rubik/static/Rubik-Regular.woff2") format("woff2"),
    url("../public/fonts/Rubik/static/Rubik-Regular.woff") format("woff");
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local("Rubik Black"), local("Rubik-Black"), url("../public/fonts/Rubik/static/Rubik-Black.woff2") format("woff2"),
    url("../public/fonts/Rubik/static/Rubik-Black.woff") format("woff");
}

*,
*::after,
*::before {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

:root {
  --default: #212121;
  --light: #ffffff;
  --yellow: #FFE900;
  --fontLight: 300;
  --fontRegular: 400;
  --fontBlack: 900;
  --lineHeight: 150%;
}

html {
  font-size: 16px;
}

@media (min-width: 700px) {
  html {
    font-size: 18px;
  }
}

body {
  padding: 0 3rem 3rem 3rem;
  margin: 0;
  font-family: "Rubik", -apple-system, BlinkMacSystemFont, "Open Sans", "Roboto", "Segoe UI", Oxygen, Ubuntu, Cantarell,
    "Helvetica Neue", sans-serif;
  font-size: 1.5rem;
  font-weight: var(--fontLight, 300);
  color: var(--default, #212121);
  background-color: var(--light, #ffffff);
  overflow-x: hidden;
}

h1,
h2,
h3,
h4{
  margin: 0;
  text-rendering: optimizeSpeed;
}

h1 {
  font-size: 5rem;
  font-weight: var(--fontBlack);
  text-transform: uppercase;
}

h2 {
  font-size: 2.5rem;
  font-weight: var(--fontBlack);
}

p {
  margin: 0;
  line-height: var(--lineHeight);
  text-rendering: optimizeSpeed;
}

p:not(:last-child) {
  margin-bottom: 0.5rem;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

